
@{
    Layout = "~/Views/Shared/EmulatorExamLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Examination</title>
    <link rel="stylesheet" type="text/css" href="~/App_Data/Styles/style.css">
</head>
<body>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td><p>Номер: </p></td>
                    <td><p>Дата начала: </p></td>
                    <td><p>Дата конца: </p></td>
                    <td><p>Дифф: </p></td>
                    <td><p>Чек тайм: </p></td>
                    <td><p>Бай тайм: </p></td>
                    <td><p>Холд тайм: </p></td>
                    <td><p>Баланс: </p></td>
                </tr>
                @foreach (var value in ViewBag.examinations)
                {
                <tr>
                    <td><input type="submit" name="Id" value="@value.EmulationNumber" formaction="../Emulator/ShowEmulation" formmethod="post" /></td>
                    <td><p>@value.StartDate</p></td>
                    <td><p>@value.EndDate</p></td>
                    <td><p>@value.Diff</p></td>
                    <td><p>@value.CheckTime</p></td>
                    <td><p>@value.BuyTime</p></td>
                    <td><p>@value.HoldTime</p></td>
                    <td><p>@value.Balance</p></td>
                </tr>
                }
            </table>
        </form>
    </div>
</body>
</html>
