
@{
    Layout = "~/Views/Shared/EmulatorLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Emulation</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="~/Content/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="table table-bordered table-striped" style=" margin: auto; width:60%" id="myTable">
            <tr>
                <td><p>Date: </p></td>
                <td><p>Type: </p></td>
                <td><p>Rate: </p></td>
                <td><p>Amount: </p></td>
                <td><p>Total: </p></td>
                <td><p>Fee: </p></td>
                <td><p>Balance: </p></td>
            </tr>
            @foreach (var value in ViewBag.TradeHistory)
            {
                <tr>
                    <td><p>@value.Date </p></td>
                    <td><p>@value.Type </p></td>
                    <td><p>@value.Rate </p></td>
                    <td><p>@value.Amount </p></td>
                    <td><p>@value.Total </p></td>
                    <td><p>@value.Fee </p></td>
                    <td><p>@value.Balance </p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
