<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>



<body>
    <coin>
        @using Emulator.Models.Poloniex.DropDownList

        @model Coin

        @Html.DropDownListFor(m => m.Name,
                    new SelectList(Enum.GetValues(typeof(Coins))),
                    "Валюта")
       
    </coin>
    <nav>
        <button>@Html.ActionLink("Home", "Index", "Home")</button>
        <button>@Html.ActionLink("returnTradeHistory ", "returnTradeHistory", "Home")</button>
        <button>@Html.ActionLink("returnChartData", "returnChartData", "Home")</button>
        <button>@Html.ActionLink("returnCurrencies", "returnCurrencies", "Home")</button>
    </nav>
    @RenderBody()
</body>
</html>