@model IEnumerable<QuickType.TradeHistory>

@{
    Layout = "~/Views/Shared/DataLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="~/Content/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div>
            <h1>@ViewBag.StartDate - @ViewBag.EndDate | USDT-@ViewBag.Pair</h1>
        </div>
        <table class="table table-bordered table-striped" style=" margin: auto; width:60%" id="myTable">
            <tr>
                <td><p>Глобальный ID сделки:</p></td>
                <td><p>ID сделки:</p></td>
                <td><p>Дата:</p></td>
                <td><p>Тип:</p></td>
                <td><p>Цена:</p></td>
                <td><p>Количество:</p></td>
                <td><p>Всего:</p></td>
            </tr>
            @foreach (var value in Model)
            {
                <tr>
                    <td><p>@value.GlobalTradeId</p></td>
                    <td><p>@value.TradeId</p></td>
                    <td><p>@value.Date</p></td>
                    <td><p>@value.Type</p></td>
                    <td><p>@value.Rate</p></td>
                    <td><p>@value.Amount</p></td>
                    <td><p>@value.Total</p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
