
@{
    Layout = "~/Views/Shared/DataLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <div>
            <h1>@ViewBag.StartDate - @ViewBag.EndDate | @ViewBag.FirstPair-@ViewBag.SecondPair</h1>
        </div>
        <table>
            <tr>
                <td><p>Глобальный ID сделки:</p></td>
                <td><p>ID сделки:</p></td>
                <td><p>Дата:</p></td>
                <td><p>Тип:</p></td>
                <td><p>Цена:</p></td>
                <td><p>Количество:</p></td>
                <td><p>Всего:</p></td>
            </tr>
            @foreach (var value in ViewBag.histories)
            {
                <tr>
                    <td><p>@value.GlobalTradeId</p></td>
                    <td><p>@value.TradeId</p></td>
                    <td><p>@value.Date</p></td>
                    <td><p>@value.Type</p></td>
                    <td><p>@value.Rate</p></td>
                    <td><p>@value.Amount</p></td>
                    <td><p>@value.Total</p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
