@model TradeHistory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TradeHistory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.globalTradeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.globalTradeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tradeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tradeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TradeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TradeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
