@model IEnumerable<TradeHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.globalTradeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tradeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TradeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.globalTradeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tradeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TradeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TradeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
